<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f


    RewriteRule ^(.*(runtime\/|vendor\/|scripts\/).*)$ - [F,L]
    RewriteRule ^(.*\.(htaccess|conf|yaml|gitignore|sql|git))$ - [F,L]

    RewriteRule nginx.conf - [F,L]
    RewriteRule phpunit.xml - [F,L]
    RewriteRule composer.json - [F,L]
    RewriteRule composer.lock - [F,L]
</IfModule>

<Files *>
    Options -Indexes
</Files>